html {
    overflow-y: scroll;
    overflow-x: scroll;
}

/* general style */

body {
    background-color: 	rgb(101, 100, 100);
    width: 100%;
    margin: none;
    padding: none;
}

nav {
    width: 100%;
    opacity: 75%;
}

main {
    width: 100%;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/* album pic style */

.album {
    padding-top: 15px;
}

@keyframes album_animation {
    0% {
        transform: scale(1 ,1);
    }
    100% {
        transform: scale(1.0625 ,1.0625);
        opacity: 60%;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.712) ;
    }
}

.album img:hover {
    animation-name: album_animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.album img {
    width: 100%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.616) ;
}

/* footer style */

.footer {
    background-color: black;
    height: fit-content;
    width: 100%;
    margin: 0;
}

#social_holder {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#social_instagram {
    height: 5vh;
    width: 3vw;
}

#social_twitter {
    height: 5vh;
    width: 3vw;
}

#social_facebook {
    height: 5vh;
    width: 3vw;
}

#social_youtube {
    height: 5vh;
    width: 3vw;
}

#footer_lorem p {
    color: white;
    text-align: center;
    font-size: small;
}

#footer_lorem_1st {
    margin-top: 15px;
}

#footer_hr {
    color: white;
    width: 49.5vw;   
    margin-left: auto;
    margin-right: auto;
}

/* album solo page header style */

.album_solopage_header {
    height: fit-content;
    width: 100%;
    padding: none;
    margin: none;
    background-color: red;
    background-image: none;
}

.solopage_header_text_holder {
    width: fit-content;
    height: fit-content;
}

.solopage_header_text_holder h1, h2, h4, h5 {
    color: white;
    width: fit-content;
}

.header_pic_holder {
    background-image: url(kepek/albums/Courtain_Call_2.jpg);
    background-color: blue;
    background-size: cover;
    width: 15%;
    margin: 1%;
    padding: none;
}

.album_solopage_main {
    height: 800px;
    background-color: yellow;
}