#nav_pic {
    height: 60%;
}
  
body {
    background-color: rgb(101, 100, 100);
}
.events_section {
    background-image: url("kepek/hatter_2.jpg");
    background-position: left;
    width: 100%;
    height: 100vh;
}
.events h1 {
    color: white;
    letter-spacing: 8px;
    font-size: 40pt;
    text-shadow: 0px 2px whitesmoke;
}
.events {
    width: 40vw;
    height: 100%;
    float: right;
    color: white;
    position: relative;
    top: 15vh;
}
.events ul {
    position: relative;
    top: 10vh;
}
.events li {
    list-style-image:url("kepek/mic_icon.png");
    filter: invert();
    color: black;
    font-size: 40px;
    line-height: 11vh;
}
body{
    scroll-behavior: smooth;
}

.footer {
    background-color: black;
    height: fit-content;
}

#social_holder {
    /* position: relative;
    left: 40vw; */
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#social_instagram {
    height: 5vh;
    width: 3vw;
}

#social_twitter {
    height: 5vh;
    width: 3vw;
}

#social_facebook {
    height: 5vh;
    width: 3vw;
}

#social_youtube {
    height: 5vh;
    width: 3vw;
}

#footer_lorem p {
    color: white;
    text-align: center;
    font-size: small;
}

#footer_lorem_1st {
    margin-top: 15px;
}

#footer_hr {
    color: white;
    width: 49.5vw;   
    margin-left: auto;
    margin-right: auto;
}

header{
    /* background-image: url("kepek/wallpaperflare.com_wallpaper.jpg"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;

}
header h1,h2{
    width: fit-content;
    position: relative;
    left: 5vw;
    top: 18vh;
    font-size: 50pt;
    color: aliceblue;
    text-shadow: 5px 0.3vw black;
    letter-spacing: 5px;
    text-transform: uppercase;
}
header h2{
    top: 19vh;
    font-size: 40pt;
}
.navbar{
    opacity: 0.75;
    background-color: whitesmoke;
}
.card:hover{
    transform: scale(1.15);
    transition: 0.6s;
}
:hover.navbar{
    opacity: 1;
    transition: 0.7s;
}
.nav-item:hover {
    transform: scale(1.15);
    transition: 0.3s;
}